# ***Question 1:***
How to import pandas and check the version?

In [63]:
# importing pandas
import pandas as pd
print(pd.__version__)

1.1.4

# ***Questions 2:***
How to create a series from a numpy array?

In [62]:
# importing numpy
import numpy as np
arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90])
print("Array of numpy:\n",arr)

# Converting numpy array to pandas Series
series = pd.Series(arr)
print("Series of pandas\n",series)

Array of numpy:
 [10 20 30 40 50 60 70 80 90]
Series of pandas
 0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

# ***Questions 3:***
 How to convert the index of a series into a column of a dataframe?

In [61]:
# Creating series with user index value
series1 = pd.Series([10, 20, 30, 40, 50, 60, 70, 40, 50, 60, 70, 80, 90, 100], 
                    index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])
# print("Series of pandas",series1)

# Converting series to dataframe
dataFrame = series1.to_frame().reset_index()
print(dataFrame)

    index    0
0       1   10
1       2   20
2       3   30
3       4   40
4       5   50
5       6   60
6       7   70
7       8   40
8       9   50
9      10   60
10     11   70
11     12   80
12     13   90
13     14  100

# ***Questions 4:***
Write the code to list all the datasets available in seaborn library.  
Load the 'mpg' dataset  
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the 
materials folder)

In [60]:
# importing seaborn
import seaborn as sns
# print(sns.__version__)

# List of all dataset in seaborn module
print("All dataset present in the seaborn library :\n", sb.get_dataset_names()) 
print()

# Loading mpg dataset from seaborn
dataset_mpg = sns.load_dataset('mpg')

print("mpg dataset from seaborn :\n", dataset_mpg)

All dataset present in the seaborn library :
 ['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

mpg dataset from seaborn :
       mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

# ***Questions 5:*** 
Which country origin cars are a part of this dataset?

In [59]:
# Loading mpg dataset from seaborn
mpg_dataset = sns.load_dataset('mpg')

# Creating a dataframe for mpg_dataset
df = pd.DataFrame(mpg_dataset)
# print(df)

# Displaying the country origin from where cars belong
print("country origin :\n", df.origin.unique())

country origin :
 ['usa' 'japan' 'europe']

# ***Questions 6:*** 
Extract the part of the dataframe which contains cars belonging to 'usa'

In [58]:
# Loading mpg dataset from seaborn
mpgDataset = sns.load_dataset('mpg')

# Creating a dataframe for mpg_dataset
df = pd.DataFrame(mpgDataset)
# print(df)

# Displaying the part from dataframe where cars belong to "usa"
df[df['origin'].str.contains("usa")]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]